:root {
  --sl-color-accent-low: #27245c;
  --sl-color-accent: #818cf8;
  --sl-color-accent-high: #e0e7ff;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #e0e7ff;
  --sl-color-accent: #4f46e5;
  --sl-color-accent-high: #312e81;
}
