<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-4 sm:px-0">
      <.logging_warning current_user={@current_user} />

      {@inner_content}
    </div>
  </div>
</main>
