<!DOCTYPE html>
<html lang="en" data-theme="dark" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · Shroud.email" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/fonts/inter/inter.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="icon" href={Routes.static_path(@conn, "/favicon.ico")} />
    <script type="text/javascript" async defer src="https://papercups.shroud.email/widget.js"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script>
      window.Papercups = {
        config: {
          token: "f91d9c23-fee6-4f15-a173-033d51ce6968",
          inbox: "78dbb4d9-af06-4499-bedc-7bf813324146",
          title: "Welcome to Shroud.email",
          subtitle: "Ask us anything in the chat window below 😊",
          primaryColor: "#6466e9",
          newMessagePlaceholder: "Start typing...",
          showAgentAvailability: false,
          agentAvailableText: "We're online right now!",
          agentUnavailableText: "We're away at the moment.",
          requireEmailUpfront: true,
          iconVariant: "outlined",
          baseUrl: "https://papercups.shroud.email",
          <%= if @current_user do %>
          customer: {
            name: "<%= @current_user.email %>",
            email: "<%= @current_user.email %>",
            external_id: <%= @current_user.id %>,
            metadata: {
              status: "<%= @current_user.status %>"
            }
          }
          <% end %>
        },
      };
    </script>
    <script src="https://betteruptime.com/widgets/announcement.js" data-id="144055" async="async" type="text/javascript"></script>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <%= render "_navbar.html", assigns %>
      <%= @inner_content %>
    </div>
  </body>
</html>
