<!DOCTYPE html>
<html lang="en" data-theme="dark" class="min-h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · Shroud" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/fonts/CarterOne.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="min-h-screen">
    <nav class="navbar bg-neutral mb-6 max-w-screen overflow-x-auto">
      <div class="flex-1">
        <ul class="flex flex-row">
          <li class="inline mr-3 whitespace-nowrap"><span class="logo font-extrabold text-lg">Shroud.email</span> <sup>Alpha</sup></li>
          <%= if @current_user do %>
          <li class="inline"><%= link "Aliases", to: Routes.email_alias_index_path(@conn, :index), class: "btn btn-sm btn-ghost rounded-btn" %></li>
          <% end %>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li class="inline"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "btn btn-sm btn-ghost rounded-btn" %></li>
          <% end %>
        </ul>
      </div>
      <%= render "_user_menu.html", assigns %>
    </nav>
    <%= @inner_content %>
  </body>
</html>
