<!DOCTYPE html>
<html lang="en" data-theme="dark" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <.live_title suffix=" · Shroud.email">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/fonts/inter/inter.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="icon" href={Routes.static_path(@conn, "/favicon.ico")} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%= if Application.fetch_env!(:shroud, :app_domain) == "app.shroud.email" do %>
      <script
        defer
        data-domain="app.shroud.email"
        data-api="https://shroud.email/p/api/event"
        data-exclude="/alias/**, /domains/**, /users/confirm, /users/confirm/**, /email-report/**"
        src="https://shroud.email/p/pjs/script.exclusions.js"
      ></script>
    <% end %>
    <script src="https://betteruptime.com/widgets/announcement.js" data-id="144055" async="async" type="text/javascript"></script>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <%= render "_navbar.html", assigns %>
      <%= @inner_content %>
    </div>
  </body>
</html>
