<%= form_for @changeset, Routes.email_alias_path(@conn, :create), fn f -> %>
  <%= if Enum.any?(f.errors) do %>
    Something went wrong:
    <ul>
      <%= for {attr, {message, _details}} <- f.errors do %>
        <li><%= humanize(attr) %> <%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="grid">
    <label>
      Address: <%= text_input f, :address %>
    </label>
    @example.com
  </div>

  <%= submit "Create" %>
<% end %>
