<%= cond do %>
  <% @current_user.status == :lifetime -> %>
    <div class="shadow-sm dark:shadow-gray-900/50 rounded-md overflow-hidden">
      <div class="bg-white dark:bg-gray-800 p-6 space-y-6">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">Billing</h3>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
            You're on a lifetime plan. No billing settings to deal with!
          </p>
        </div>
      </div>
    </div>
  <% @current_user.status == :free -> %>
    <div class="shadow-sm dark:shadow-gray-900/50 rounded-md overflow-hidden mb-6">
      <div class="bg-white dark:bg-gray-800 p-6 space-y-6">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
            Free Plan
          </h3>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
            You're on the free plan. You can create up to 5 aliases with tracker blocking.
            Upgrade to unlock unlimited aliases, custom domains, and outgoing email.
          </p>
        </div>
      </div>
    </div>
    <.signup {assigns} />
  <% is_nil(@current_user.paddle_customer_id) -> %>
    <.signup {assigns} />
  <% true -> %>
    <div class="shadow-sm dark:shadow-gray-900/50 rounded-md overflow-hidden">
      <div class="bg-white dark:bg-gray-800 p-6 space-y-6">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">Billing</h3>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
            Update your billing details, change your plan, or cancel via our payments provider Paddle.
          </p>
        </div>
        <div class="text-right">
          <.button href={~p"/checkout/billing"} text="Update billing details" />
        </div>
      </div>
    </div>
<% end %>
