<div class="hero py-32 bg-base-200 rounded-3xl">
  <div class="flex-col justify-center hero-content lg:flex-row">
    <div class="text-center lg:text-left">
      <h1 class="h1">Almost there</h1>
      <p class="mb-5 w-max">
        We sent you an email to confirm your account.
        Please click the link in that email to continue.
      </p>
    </div>
  </div>
</div>
