<!DOCTYPE html>
<html lang="en" data-theme="dark" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Something went wrong · Shroud.email</title>
    <link phx-track-static rel="stylesheet" href={~p"/fonts/inter/inter.css"}/>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}/>
    <link phx-track-static rel="icon" href={~p"/favicon.ico"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class="h-full">
    <%= @inner_content %>
  </body>
</html>
